body {
    background-color: $bg-basic;
}

/* 스킵 메뉴 */
#skip {
    position: relative;
    z-index: 100000;
}

#skip a {
    padding: 20px 40px;
    position: absolute;
    left: -400px;
    top: 5px;
    background: #000;
    color: #fff;
}

#skip a:active,
#skip a:focus {
    left: 5px;
}

// container 
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    // background-color: rgba(0,0,0,0.03);
}