* {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}
img {
    vertical-align: top;
}
a {
    color: #000;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */
header {
    height: 100px;
    display: flex;
    align-items: center;
}
header h1 {
    display: block;
    width: 200px;
    height: 40px;
    font-size: 0px;
    color: transparent;
}
header nav {
    width: 600px;
    margin: 0 0 0 370px;
}
header nav > ul {
    display: flex;
}
header ul a {
    display: block;
    text-align: center;
    background: #fff;
    padding: 10px;
}

li.lv1 {
    position: relative;
    width: 25%;
}
li.lv1 > a {
    font-size: 18px;
    font-weight: 600;
}
ul.lv2 {
    position: absolute;
    width: 100%;
    z-index: 998;
    display: none;
}

li.lv1:hover > a {
    color: #fff;
    background: rgb(199, 101, 101);
}
ul.lv2 li:hover a {
    color: #fff;
    background: rgb(230, 152, 152);
}
/* slider */
#slider {
    height: 300px;
    overflow: hidden;
}
.slider__desc {
    height: 300px;
    position: relative;
}
.slider__desc .title {
    width: 150px;
    height: 30px;
    background: #ffeded;
    text-align: center;
    padding: 10px;
}
.slider__desc img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* main */
.main__inner {
    display: flex;
}
.main__part1 {
    width: 33.33333%;
}
.main__board {
}

.board_title {
    display: flex;
}
.board_title h3 {
    padding: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.board_title .tab1 {
    background-color: rgb(252, 236, 236);
}
.board_title .tab1.hide {
    background-color: #fff;
}
.tab1_list.hide {
    display: none;
}
.tab1_date.hide {
    display: none;
}
.board_title .tab2 {
    background-color: #fff;
}
.board_title .tab2.show {
    background-color: rgb(252, 236, 236);
}
.tab2_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
    padding: 17px 10px;
}
.tab2_list img {
    width: 32%;
}
.tab2_list.show {
    display: block;
}
.board_text {
    display: flex;
    justify-content: space-between;
    background-color: rgb(252, 236, 236);
}
.board_date {
    font-weight: 300;
}
.board_list p,
.board_date p {
    margin-bottom: 15px;
    font-size: 16px;
    padding: 0 10px;
}
.board_list p:first-child,
.board_date p:first-child {
    padding-top: 10px;
}
.board_list p:last-child,
.board_date p:last-child {
    margin-bottom: 0px;
    padding-bottom: 14px;
}

.main__part2 {
    width: 33.3333%;
    position: relative;
}
.main__part2 p {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.main__part2 img {
}

.main__part3 {
    position: relative;
}
.main__part3 p {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_logo {
    width: 33.3333%;
    padding: 30px 0;
}
.footer_copy {
    text-align: center;
    width: 33.3333%;
}
.footer_link {
    text-align: right;
    width: 33.3333%;
    margin-right: 30px;
}
.footer_link a {
}
.footer_link a img {
    width: 20px;
    padding-left: 20px;
}
