/* swiper */
.swiper-slide .desc {
    width: 1160px;
    margin: 0 auto;
    padding: 100px 20px;
    box-sizing: border-box;
}

.swiper-slide .desc h3 {
    font-size: 110px;
    font-weight: 800;
    line-height: 1;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: -8px;
}

.swiper-slide .desc p {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 1.35;
    margin-bottom: 10px;
}

.swiper-slide .desc .btn a {
    font-size: 16px;
    background-color: #4857EC;
    color: #fff;
    padding: 11px 50px;
    display: inline-block;
}

.swiper-slide .imgs {
    position: absolute;
    left: 48%;
    transform: translateX(18%);
    top: 0;
    z-index: -1;
}

.swiper-slide .imgs .i1 {
    width: 570px;
    height: 570px;
    background-image: url(../img/header_gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide .imgs .i2 {
    width: 300px;
    position: absolute;
    left: 19%;
    top: 0px;
}

.swiper-slide .imgs .i3 {
    width: 300px;
    position: absolute;
    left: 4%;
    bottom: 0px;
}

.swiper-slide .imgs .i4 {
    width: 300px;
    position: absolute;
    right: 0px;
    top: 31%;
}

.swiper-slide .dots span {
    border-radius: 50%;
    display: block;
    position: absolute;
}

.swiper-slide .dots .d1 {
    width: 23px;
    height: 23px;
    background-color: #4857EC;
    left: 9%;
    top: 20%;
}

.swiper-slide .dots .d2 {
    width: 46px;
    height: 46px;
    background-color: #2fefb1;
    left: 80%;
    top: 15%;
}

.swiper-slide .dots .d3 {
    width: 49px;
    height: 49px;
    background-color: #4857EC;
    left: 50%;
    top: 65%;
}

.swiper-slide .dots .d4 {
    width: 35px;
    height: 35px;
    background-color: #FF3344;
    left: 40%;
    top: 60%;
}

.swiper-slide .dots .d5 {
    width: 32px;
    height: 32px;
    background-color: #2fefb1;
    left: 15%;
    top: 86%;
}

.swiper-button-prev {
    width: 20px !important;
    height: 40px !important;
    left: 20px !important;
    background: url(../img/arrow_left@2x.png) no-repeat;
    background-size: contain;
}

.swiper-button-next {
    width: 20px !important;
    height: 40px !important;
    right: 20px !important;
    background: url(../img/arrow_right@2x.png) no-repeat;
    background-size: contain;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    opacity: 0;
}

.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    opacity: 1 !important;
    background-color: #FF3344 !important;
    border: 2px solid transparent;
    margin: 0 7px !important;
}

.swiper-pagination-bullet-active {
    background: #ff334400 !important;
    box-shadow: 0 0 0 5px #ff3344 inset;
    border: 2px solid #ff3344;
}

/* swiper animation */
.swiper-slide .desc h3 {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s 0.6s cubic-bezier(0, 1.1, 1, 1);
}

.swiper-slide .desc p {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s 0.8s cubic-bezier(0, 1.1, 1, 1);
}

.swiper-slide .desc .btn {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s 1s cubic-bezier(0, 1.1, 1, 1);
}

.swiper-slide .imgs .i1 {
    opacity: 0;
    transform: scale(0);
    transition: all 0.7s 0.8s cubic-bezier(0, 1.1, 1, 1);
}

.swiper-slide .imgs .i2 {
    transform: scale(0);
    opacity: 0;
    transition: all 0.7s 1.2s cubic-bezier(0, 1.1, 1, 1);
}

.swiper-slide .imgs .i3 {
    transform: scale(0);
    opacity: 0;
    transition: all 0.7s 1.6s cubic-bezier(0, 1.1, 1, 1);
}

.swiper-slide .imgs .i4 {
    transform: scale(0);
    opacity: 0;
    transition: all 0.7s 2s cubic-bezier(0, 1.1, 1, 1);
}

.swiper-slide .dots .d1 {
    transform: scale(0);
    opacity: 0;
    transition: all 0.7s 1.4s cubic-bezier(0, 0, 0, 4.84);
}

.swiper-slide .dots .d2 {
    transform: scale(0);
    opacity: 0;
    transition: all 0.7s 1.6s cubic-bezier(0, 0, 0, 4.84);
}

.swiper-slide .dots .d3 {
    transform: scale(0);
    opacity: 0;
    transition: all 0.7s 1.8s cubic-bezier(0, 0, 0, 4.84);
}

.swiper-slide .dots .d4 {
    transform: scale(0);
    opacity: 0;
    transition: all 0.7s 2s cubic-bezier(0, 0, 0, 4.84);
}

.swiper-slide .dots .d5 {
    transform: scale(0);
    opacity: 0;
    transition: all 0.7s 2.2s cubic-bezier(0, 0, 0, 4.84);
}

.swiper-slide-active .desc h3 {
    opacity: 1;
    transform: translateY(0);
}

.swiper-slide-active .desc p {
    opacity: 1;
    transform: translateY(0);
}

.swiper-slide-active .desc .btn {
    opacity: 1;
    transform: translateY(0);
}

.swiper-slide-active .imgs .i1 {
    transform: scale(1);
    opacity: 1;
}

.swiper-slide-active .imgs .i2 {
    transform: scale(1);
    opacity: 1;
}

.swiper-slide-active .imgs .i3 {
    transform: scale(1);
    opacity: 1;
}

.swiper-slide-active .imgs .i4 {
    transform: scale(1);
    opacity: 1;
}

.swiper-slide-active .dots .d1 {
    transform: scale(1);
    opacity: 1;
}

.swiper-slide-active .dots .d2 {
    transform: scale(1);
    opacity: 1;
}

.swiper-slide-active .dots .d3 {
    transform: scale(1);
    opacity: 1;
}

.swiper-slide-active .dots .d4 {
    transform: scale(1);
    opacity: 1;
}

.swiper-slide-active .dots .d5 {
    transform: scale(1);
    opacity: 1;
}

.swiper-slide-prev {}

.swiper-slide-next {}


/* media */
@media (max-width: 960px) {
    .swiper-slide .desc {
        width: 100%;
        text-align: center;
    }

    .swiper-slide .desc h3 {
        font-size: 70px;
    }
}

@media (max-width: 600px) {
    .swiper-slide .desc {
        padding: 80px 0;
    }

    .swiper-slide .desc h3 {
        font-size: 40px;
    }

    .swiper-slide .desc p {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .swiper-slide .desc .btn a {
        padding: 10px 25px;
    }
}