@font-face {
    font-family: "LABDigital";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.ttf") format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "LABDigital";
    font-weight: 500;
    cursor: none;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#header {
    position: fixed;
    width: 100%;
    background: #011d3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#header h1 {
    font-size: 20px;
    color: #fff;
    padding: 5px 0;
}

#header .time {
    color: #fff;
}

.cursor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    pointer-events: none;
    user-select: none;
}

.cursor img {
    width: 43px;
    height: 73px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #011d3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5 10px;
    color: #fff;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}
.icon1 {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 54px;
}

.icon1 img {
    width: 54px;
}

.icon1 span {
    display: block;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

.icon2 {
    position: absolute;
    left: 100px;
    top: 200px;
    width: 54px;
}

.icon2 img {
    width: 54px;
}

.icon2 span {
    display: block;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

.icon3 {
    position: absolute;
    left: 100px;
    top: 300px;
    width: 54px;
}

.icon3 img {
    width: 54px;
}

.icon3 span {
    display: block;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

.icon4 {
    position: absolute;
    left: 100px;
    top: 400px;
    width: 54px;
}

.icon4 img {
    width: 54px;
}

.icon4 span {
    display: block;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

.icon5 {
    position: absolute;
    left: 100px;
    top: 500px;
    width: 54px;
}

.icon5 img {
    width: 54px;
}

.icon5 span {
    display: block;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

.icon6 {
    position: absolute;
    right: 100px;
    bottom: 100px;
    width: 54px;
}

.icon6 img {
    width: 54px;
}

.icon6 span {
    display: block;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

#source {
    display: none;
}
#source.show {
    display: block;
}
nav {
    position: absolute;
    bottom: 170px;
    right: 20px;
    scale: 0.8;
    background-color: #000000;
    border-radius: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    --c: goldenrod;
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-align: center;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li a {
    text-transform: uppercase;
    color: var(--c);
    font-weight: bold;
    font-family: "LABDigital";
    letter-spacing: 0.1em;
    transition: all 0.3s;
}

nav ul li:hover a {
    color: #fff;
}

nav ul li span {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 12%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
