.memory__wrap {
    display: none;
    position: relative;
    z-index: 100;
}
.memory__wrap.show {
    display: block;
}
.memory__inner {
    width: 600px;
    height: 600px;
    border: 3px solid #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 500px;
    top: 200px;
    border-radius: 20px;
    animation: flicker 1.5s infinite alternate;
}
.memory__card {
    padding: 30px;
    position: relative;
}
.memory__card .cards {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.memory__card .cards li {
    list-style: none;
    width: 125px;
    height: 125px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500px;
}
.memory__card .cards li img {
    width: 80%;
    padding-top: 15px;
}
.memory__card .cards li .view {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(240, 201, 201);
    backface-visibility: hidden;
    padding: 10%;
    border-radius: 20px;
    transition: all 0.5s;
    user-select: none;
    pointer-events: none;
}
.memory__card .cards li .front {
}
.memory__card .cards li.flip .front {
    transform: rotateY(180deg);
}
.memory__card .cards li .back {
    transform: rotateY(-180deg);
}
.memory__card .cards li.flip .back {
    transform: rotateY(0deg);
}
.memory__card .cards li.shakeX {
    animation: shakeX 0.6s 1;
}
.memory__card .cards li.shakeY {
    animation: shakeY 0.6s 1;
}

@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #7fff5b, inset 0 0 2rem #7fff5b, 0 0 2rem #7fff5b, inset 0 0 2rem #7fff5b;
    }
}

@keyframes shakeX {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shakeY {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(0, -10px, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(0, 10px, 0);
    }
}

.memory__start {
    width: 595px;
    height: 594px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.memory__start .memory_button {
    font-size: 50px;
    padding: 10px 30px;
    border-radius: 10px;
    background: rgb(172, 251, 127);
    background: linear-gradient(0deg, rgb(47, 215, 38) 0%, rgba(172, 251, 127, 1) 100%);
    border: none;
}
.memory_button:before {
    height: 0%;
    width: 2px;
}
.memory_button:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.memory__time {
    color: red;
    position: absolute;
    font-size: 80px;
    top: -90px;
    left: 0px;
}

.memory__result {
    position: fixed;
    right: 35vw;
    top: 20vw;
    width: 30vw;
    height: 15vw;
    /* z-index: 10000; */
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    border-radius: 20px;
    background: rgba(1, 29, 63, 0.9);
    color: #fff;
    line-height: 1.5;
    text-align: center;
}

.memory__result .memory_result {
    font-size: 30px;
    margin-bottom: 30px;
}

.memory__result.show {
    display: flex;
    animation: rubberBand 1s ease;
    z-index: 1000;
}

.memory__result .result {
    margin-top: 30px;
    font-size: 1.4vw;
    line-height: 1.4;
}
.memory__result .restart {
    background: #946bc5;
    color: #fff;
    border: 0;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}
.memory_restart {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 24px;
}
.memory_restart:hover {
    background-color: blue;
    color: #fff;
}
.memory_point {
    color: blue;
}
@keyframes rubberBand {
    0% {
        transform: scale3d(0, 0, 0);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.memory__info {
    position: absolute;
    top: -50px;
    right: 0px;
    font-size: 36px;
    color: #000;
}
