* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NexonLv1Gothic';
    /* color: var(--htmlColor); */
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --htmlColor: #223547;
}

a {
    color: var(--htmlColor);
    text-decoration: none;
}

li {
    list-style: none;
}

/* header */
#header nav {
    margin: 10px;
}

#header nav ul li {
    position: relative;
    display: inline;
}

#header nav ul li a {
    width: 30px;
    height: 30px;
    border: 1px solid var(--htmlColor);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-family: 'NexonLv1Gothic';
}

#header nav ul li.active a {
    background-color: var(--htmlColor);
    color: #fff;
}

#header nav ul li .sub {
    position: absolute;
    left: 0;
    top: 35px;
    width: 400px;
}

#header nav ul li .sub li a {
    width: auto;
    background-color: transparent;
    color: var(--htmlColor);
    border: 0;
    text-align: left;
    line-height: 1.2;
}

#header nav ul li .sub li.active a {
    text-decoration: underline;
}

/* main */
#main {
    margin: 50px 10px;
}

.search__wrap {
    max-width: 1400px;
    margin: 0 auto;
    border: 3px solid var(--htmlColor);
    border-radius: 20px;
    background-color: #f1f3f6;
    padding: 30px;
    text-align: center;
}

.search__wrap > span {
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.search__wrap > h1 {
    font-family: 'Tmon';
    color: var(--htmlColor);
    font-size: 6vw;
    margin-bottom: 10px;
}

.search__box {
    margin-bottom: 20px;
}

.search__box label {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    /* 검색하기 숨기기(웹표준 준수) */
}

.search__box input {
    border: 2px solid var(--htmlColor);
    padding: 15px 40px;
    width: 70%;
    border-radius: 50px;
    font-size: 20px;
}

.search__list li {
    text-align: left;
    line-height: 1.7;
}

.search__list li.hide {
    display: none;
}

.search__list span {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--htmlColor);
    border-radius: 50px;
    margin: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.search__list span:hover {
    background-color: var(--htmlColor);
    color: #fff;
}

.search__list em {
    float: right;
    font-style: normal;
}

.search__list .line {
    margin-top: 70px;
}

.search__list .line li {
    background: #e3eaf5;
    padding: 10px 30px;
    margin-bottom: 5px;
    border-radius: 50px;
}

.search__list .line li:hover {
    background: #d3e2fa;
    cursor: pointer;
}

.search__info {
    text-align: right;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--htmlColor);
}

.search__info .type {
    text-align: center;
    margin-bottom: 10px;
}

.search__info .keyword {
    text-align: center;
    margin-bottom: 10px;
}

.search__info .keyword span {
    border: 2px solid var(--htmlColor);
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 4px;
}

.search__info .keyword span:hover {
    background-color: var(--htmlColor);
    color: #fff;
    cursor: pointer;
}

.search__desc {
    padding: 20px 40px 20px 60px;
    margin-bottom: 50px;
    border-radius: 50px;
    display: inline-block;
    background-color: var(--htmlColor);
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='8' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.5 16.958L21.5 21.958' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 22px 16px;
}

.search__click {
    margin-top: 10px;
    margin-bottom: 30px;
}

.search__click li {
    display: inline;
}

.search__click li a {
    display: inline-block;
    border: 1px solid var(--htmlColor);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 5px 0;
}

.search__click li:hover a {
    background-color: var(--htmlColor);
    color: #fff;
}

/* media query */
@media (max-width: 600px) {
    .search__wrap {
        padding: 20px;
    }

    .search__wrap > span {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .search__wrap > h1 {
        font-size: 44px;
    }

    .search__box {
        font-size: 16px;
        padding: 12px 30px;
    }
}

/* footer */
#footer {
    position: relative;
    z-index: 3000;
}

#footer .source {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 10px 20px 5px;
    font-size: 14px;
}

/* modal__wrap */
.modal__btn {
    font-family: 'KyoboHandwriting2019';
    font-weight: 600;
    color: #000;
    border: 2px solid #000;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: fixed;
    background: #fff;
}

.modal__btn:hover {
    background-color: #000;
    color: #fff;
}

.modal__cont {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

/*  요소를 안보이게 하는 방법
        1. display: none;       (애니메이션X, 영역X)
        2. opacity: 0;          (애니메이션O, 영역O)
        3. visibility: hidden;  (애니메이션X, 영역X)
        4. transform: scale(0); (애니메이션O, 영역X)
        5. width: 0; height: 0; (애니메이션X, 영역X) : blind
*/

.modal__box {
    width: 70%;
    height: 70vh;
    border-radius: 0.6rem;
    box-shadow: 0 10px 20px -5px hsl(180deg 2% 10%);
    transform: scale(0);
}

.modal__box .title {
    padding-inline: 1rem;
    cursor: grab;
    background-color: #36110e;
    display: flex;
    align-items: center;
    color: #fff;
    height: 50px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.modal__box .title .dot {
    width: 15px;
    height: 15px;
    background-color: #f3ec2f;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-left: 30px;
}

.modal__box .title .dot::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #f32525;
    border-radius: 50%;
}

.modal__box .title .dot::after {
    content: '';
    position: absolute;
    right: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #51ec46;
    border-radius: 50%;
}

.modal__box .title .plus {
    background-color: #705a58;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

.modal__box .title .tabs {
    display: flex;
    margin-left: 50px;
}

.modal__box .title .tabs > div {
    color: hsl(39, 33%, 66%);
    background-color: hsl(0, 0%, 20%);
    padding: 0.35rem 0.8rem 0.35rem 0.8rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    text-transform: uppercase;
}

.modal__box .title .tabs > div.active {
    background-color: #c9685f;
}

.modal__box .title .tabs > div em {
    font-style: normal;
}

.modal__box .title .tabs > div .favicon {
    margin-right: 0.4rem;
    margin-top: 0.3rem;
}

.modal__box .title .tabs > div .close {
    margin-left: 5rem;
}

.modal__box .cont {
    background-color: #282936;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.modal__box .cont > div {
    display: none;
}

.modal__box .cont > div.active {
    display: block;
    height: 100%;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #f32525;
    padding: 1rem 1rem 0.6rem 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 7px -5px hsl(180deg 2% 10%);
    cursor: pointer;
    transition: all 0.3s;
}

.modal__close:hover {
    background-color: #c9685f;
}

.modal__close svg {
    color: #fff;
}

/* 모달 애니메이션 */
.modal__cont.show {
    /* visibility: visible; */
    animation: foldOut 0.7s forwards ease;
}

.modal__cont.show .modal__box {
    animation: zoomOut 0.4s 0.5s ease forwards;
}

.modal__cont.show .modal__close {
    animation: CloseOut 0.3s 1s ease forwards;
    opacity: 0;
}

.modal__cont.show.hide {
    /* visibility: visible; */
    animation: foldIn 0.3s 0.6s ease backwards;
}

.modal__cont.show.hide .modal__box {
    animation: zoomIn 0.3s 0.3s ease backwards;
}

.modal__cont.show.hide .modal__close {
    animation: CloseIn 0.3s ease backwards;
}

@keyframes foldOut {
    0% {
        transform: scaleX(0) scaleY(0.001);
    }

    50% {
        transform: scaleX(1) scaleY(0.001);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes foldIn {
    0% {
        transform: scaleX(1) scaleY(1);
    }

    50% {
        transform: scaleX(1) scaleY(0.001);
    }

    100% {
        transform: scaleX(0) scaleY(0.001);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes CloseOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes CloseIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 미디어 쿼리 */

@media (max-width: 1100px) {
    .modal__box .title {
        overflow: hidden;
    }

    .modal__box .title .dot {
        display: none;
    }

    .modal__box .title .tabs {
        margin-left: 0;
    }

    .modal__box .title .tabs > div .close {
        display: none;
    }
}

@media (max-width: 800px) {
    #header {
        width: 100%;
        text-align: center;
    }

    #header h1 {
        line-height: 1.4;
    }

    .modal__box {
        width: 96%;
    }
}

/* scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(203, 104, 98, 0.1);
    border-radius: 20px;
}
