.container {
    width: 1920px;
    /* max-width: 1920px; */
    margin: 0 auto;
    color: #fff;
}

select {
    appearance: none;
}

select option[value=""][disabled] {
    display: none;
}

body {
    overflow: hidden;
}

.weather__wrap {
    background-image: url(../img/snow_bg.png);
    background-size: cover;
    /* background-position: center center; */
    background-repeat: no-repeat;
}

.weather__inner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

/* weather__left */
.weather__left {
    width: 70%;
    padding: 50px 50px;
}
.weather_title {
    font-size: 28px;
}
.weather__bottom {
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.weather__bottom .weather_temp {
    font-size: 150px;
    margin-right: 30px;
}
.weather__bottom .weather__region {
    font-size: 48px;
    margin-right: 30px;
}
.weather__bottom .weather__region .weather_time {
    font-size: 24px;
    font-weight: 300;
    color: #999;
    margin-top: 10px;
}
.weather__bottom .weather__desc {
}
.weather__bottom .weather__desc .weather_icon {
    width: 50px;
}
.weather__bottom .weather__desc .weather_icon_desc {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300;
    color: #999;
}

/* weatger__right */
.weather__right {
    width: 30%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 50px 70px;
}
.weather__right fieldset {
    border-bottom: 1px solid #999;
    margin-bottom: 100px;
}
.selectBox {
    position: relative;
    width: 100%;
}
.selectBox .select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 5px;
    position: relative;
    z-index: 3;
    color: #fff;
    font-size: 18px;
}
.selectBox .select option {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 18px;
}
.selectBox .icoArrow {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
    width: 30px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectBox .icoArrow img {
    width: 50%;
    transition: all 0.3s;
}

.selectBox .icoArrow img.rotate {
    transform: rotate(180deg);
}
/* .weather__right select {
    float: right;
    width: 25px;
    height: 25px;
    font-size: 16px;
    scale: 0.8;
    border: none;
    background: none;
    background-image: url(../img/select.svg);
    background-repeat: no-repeat;
    background-position: center center;
} */
.weather__right h3 {
    font-size: 24px;
    margin-bottom: 60px;
}
.weather__right .tenday {
    margin-bottom: 40px;
}

/* weatger__right > weather__ */
.weather__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info__title {
    color: #cdcdcd;
}
.info__title li {
    margin-bottom: 30px;
    font-size: 18px;
}
.info__title li:last-child {
    margin-bottom: 60px;
}

.info__data {
}
.info__data li {
    margin-bottom: 30px;
    font-size: 18px;
}
.info__data li:last-child {
    margin-bottom: 60px;
}
/* weatger__right > weather__news */
.weather__day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.4);
}
.weather__day .weather_day_date {
    font-size: 18px;
    color: #cdcdcd;
}
.weather__day .weather_day_icon {
    width: 24px;
}
.weather__day .weather_day_temp {
    font-size: 18px;
}
