/* swiper */
.swiper {
    position: relative;
}

.swiper-slide .desc {
    width: 1160px;
    margin: 0 auto;
    padding: 180px 20px;
    box-sizing: border-box;
}

.swiper-slide .desc h3 {
    font-size: 110px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: -8px;
}

.swiper-slide .desc p {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    line-height: 1.4;
    margin-bottom: 30px;
}

.swiper-slide .desc .btn a {
    width: 226px;
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    background-color: #4857ec;
    text-align: center;
    line-height: 48px;
    color: #fff;
    display: inline-block;
}

.swiper-button-next,
.swiper-button-prev {
    width: 30px !important;
    height: 56px !important;
    background: url(../img/slider_icon.svg);
}

.swiper-button-next {
    background-position: -50px 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    opacity: 0;
}

.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    background-image: url(../img/slider_icon.svg) !important;
    background-position: -20px -70px !important;
    background-color: #f34 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    width: 16px !important;
    height: 16px !important;
    background-color: transparent !important;
    background-position: 46px -67px !important;

}

.swiper-button {
    position: absolute;
    left: 50%;
    margin-left: 40px;
    bottom: 24px;
    z-index: 1000;
    display: flex;
}

/* backgrond*/
.circle1 {
    width: 23px;
    height: 23px;
    position: absolute;
    left: 7%;
    top: 49%;
    background-color: #4857ec;
    border-radius: 50%;
}

.circle2 {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 27%;
    top: 20%;
    background-color: #f7e36d;
    border-radius: 50%;
}

.circle3 {
    width: 46px;
    height: 46px;
    position: absolute;
    left: 42%;
    top: 26%;
    background-color: #2fefb1;
    border-radius: 50%;
}

.circle4 {
    width: 49px;
    height: 49px;
    position: absolute;
    left: 42%;
    top: 66%;
    background-color: #4857ec;
    border-radius: 50%;
}

.circle5 {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 75%;
    top: 85%;
    background-color: #ff3344;
    border-radius: 50%;
}

.circle6 {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 90%;
    top: 80%;
    background-color: #2fefb1;
    border-radius: 50%;
}

.circle7 {
    width: 388px;
    height: 388px;
    position: absolute;
    left: 65%;
    top: 30%;
    background: linear-gradient(180deg, rgba(47, 239, 177, 1) 0%, rgba(47, 239, 177, 0) 70%);
    border-radius: 50%;
}

.circle8 {
    width: 388px;
    height: 388px;
    position: absolute;
    left: 65%;
    top: 30%;
    background: linear-gradient(105deg, rgba(255, 51, 68, 1) 0%, rgba(255, 51, 68, 0) 70%);
    border-radius: 50%;
}

.circle9 {
    width: 388px;
    height: 388px;
    position: absolute;
    left: 64.5%;
    top: 30%;
    background: linear-gradient(-30deg, rgba(72, 87, 236, 1) 0%, rgba(72, 87, 236, 0) 70%);
    border-radius: 50%;
}

.icon1 {
    width: 203px;
    height: 183px;
    right: 24%;
    top: 25%;
    background: url(../img/icon1.svg);
    position: absolute;
}

.icon2 {
    width: 203px;
    height: 224px;
    right: 12%;
    top: 40%;
    background: url(../img/icon2.svg);
    position: absolute;
}

.icon3 {
    width: 210px;
    height: 230px;
    right: 27%;
    top: 55%;
    background: url(../img/icon3.svg);
    position: absolute;
}